<form  #userForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
  <table>
    <thead>
      <tr>
        <th colsspan="2">Employee Join Form</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>First Name</td>
        <td><input type="text" [(ngModel)]="firstName" name="firstName" id="firstName"/></td>
      </tr>
      <tr>
        <td>Middle Name</td>
        <td><input type="text" [(ngModel)]="middleName" name="middleName" id="middleName"/></td>
      </tr>
      <tr>
        <td>Last Name</td>
        <td><input type="text" [(ngModel)]="lastName" name="lastName" id="lastName"/></td>
      </tr>
      <tr>
        <td>Address</td>
        <td><input type="text" [(ngModel)]="address" name="address" id="address"/></td>
      </tr>
      <tr>
        <td>Mobile Number</td>
        <td><input type="text" [(ngModel)]="mobileNumber" name="mobileNumber" id="mobileNumber"/></td>
      </tr>
      <tr>
        <td>Email</td>
        <td><input type="text" [(ngModel)]="email" name="email" id="email"/></td>
      </tr>
      <tr>
        <td colspan="2" align="center">
          <input type="submit" value="Submit" name="submit">
        </td>
      </tr>
    </tbody>
  </table>
</form>
